{% include base_path %}

<!-- start custom head snippets -->

<meta name="Author" content="Fatih Zor">
<link rel="Publisher" href="https://plus.google.com/+FatihZorCE">
<META NAME="Keywords" CONTENT="kto siber, siber güvenlik, karatay üniversitesi, siber güvenlik topluluğu, bilgi güvenliği">
<META NAME="Subject" CONTENT="Cyber Security">
<META NAME="Robots" CONTENT="INDEX,FOLLOW">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<!-- end custom head snippets -->
